<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Preferences</key>
	<string>https://www.figma.com/file/bsHo1TXWWWoQ3l0PUzXN4l/Ancillary-pages?node-id=293%3A1946</string>
	<key>Search</key>
	<string>https://www.figma.com/file/2trQtjl1kAFZOspiVF3RNp/Card%2C-Feed-%26-Navigation?node-id=2295%3A88890</string>
	<key>MainFeed UI</key>
	<dict>
		<key>Click en Stories</key>
		<string>Abrir el contenido en vista personalizada (no web directa)</string>
		<key>StanceIcon popup</key>
		<string>Click on &quot;MORE INFO&quot;</string>
		<key>Footer</key>
		<string>Agregar mas links?</string>
		<key>Banners</key>
		<string>Chequear todo lo de los banners en detalle</string>
		<key>TopicSelector</key>
		<string>Ocultarlo cuando no haya mas subtopics</string>
	</dict>
	<key>Menu UI</key>
	<dict/>
	<key>data</key>
	<dict>
		<key>MainFeed</key>
		<string>Completar la generacion de los sliderValues</string>
		<key>MainFeed timeout</key>
		<string>Tirar el error correspondiente ante un timeout</string>
	</dict>
	<key>misc</key>
	<dict/>
</dict>
</plist>
