<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FIGMA</key>
	<dict>
		<key>SEARCH</key>
		<string>https://www.figma.com/file/2trQtjl1kAFZOspiVF3RNp/Card%2C-Feed-%26-Navigation?node-id=2295%3A88890</string>
		<key>PREFERENCES</key>
		<string>https://www.figma.com/file/bsHo1TXWWWoQ3l0PUzXN4l/Ancillary-pages?node-id=293%3A1946</string>
		<key>TOUR</key>
		<string>https://www.figma.com/file/XI89THoqFGuLmzLCx1OGBC/Onboarding?t=UTqcemQ2BOYPe0Zd-0</string>
		<key>MENU</key>
		<string>https://www.figma.com/file/2trQtjl1kAFZOspiVF3RNp/Card%2C-Feed-%26-Navigation?node-id=1260%3A56888</string>
		<key>MENU (new items)</key>
		<string>https://www.figma.com/file/2trQtjl1kAFZOspiVF3RNp/Card%2C-Feed-%26-Navigation?node-id=68%3A561&amp;t=WRSDfQ7PDYjWSb6s-0</string>
		<key>FAQ</key>
		<string>https://www.figma.com/file/bsHo1TXWWWoQ3l0PUzXN4l/Ancillary-pages?node-id=293%3A1946&amp;t=Dd6krFlbiNUU5WHx-0</string>
		<key>BANNERS</key>
		<string>https://www.figma.com/file/2trQtjl1kAFZOspiVF3RNp/Card%2C-Feed-%26-Navigation?node-id=3107%3A117428&amp;t=cuMuyk8DksTyBLo0-0</string>
		<key>ARTICLE - RATE</key>
		<string>https://www.figma.com/file/2trQtjl1kAFZOspiVF3RNp/Card%2C-Feed-%26-Navigation?node-id=3410%3A106006&amp;t=FyMs9wp3SfAUBUgS-0</string>
		<key>STORIES</key>
		<string>https://www.figma.com/file/oes7aq93TLM5T9o8wcIC74/Stories?node-id=36%3A634&amp;t=tlvSvm5OPtm94y1B-0</string>
		<key>SIGN IN/ UP</key>
		<string>https://www.figma.com/file/bsHo1TXWWWoQ3l0PUzXN4l/Ancillary-pages?node-id=302%3A3227&amp;t=2fvjj1hnjaNseARE-0</string>
		<key>USER</key>
		<string>https://www.figma.com/file/bsHo1TXWWWoQ3l0PUzXN4l/Ancillary-pages?node-id=302%3A3228&amp;t=5l7myZkBBAYHqjL5-0</string>
		<key>AUDIO PLAYER</key>
		<string>https://www.figma.com/file/oes7aq93TLM5T9o8wcIC74/Stories?type=design&amp;node-id=5929-61203</string>
		<key>Error popups</key>
		<string>https://www.figma.com/file/2trQtjl1kAFZOspiVF3RNp/Card%2C-Feed-%26-Navigation?type=design&amp;node-id=3682-130779&amp;mode=design&amp;t=PgQ57E8rlvkja3yb-0</string>
		<key>-------------------------------</key>
		<string>----------------------------------------------------------------------------------------------------------------------------</string>
		<key>NEW DESIGNS</key>
		<dict>
			<key>ITN TEAM</key>
			<string>https://www.figma.com/files/team/1008778233244080621/ITN?fuid=695272890456062941</string>
			<key>VERITY</key>
			<dict>
				<key>Interim</key>
				<string>https://www.figma.com/file/0EolnvCEBvYHzzBKtZTAzh/Verity-interim-UI?type=design&amp;node-id=0-1&amp;mode=design&amp;t=fjafV7RFGO6KDALP-0</string>
				<key>Brand book</key>
				<string>https://www.figma.com/file/xFrbZLdBkCdDd5v21erK0t/Verity?type=design&amp;mode=design&amp;t=wQSm6TtslAjvajkb-0</string>
				<key>New audio player</key>
				<string>https://www.figma.com/file/XCVmmh5i8LY4WMg72mcLLX/Verity-new-UI---all-pages?type=design&amp;node-id=1-13015&amp;mode=design&amp;t=6xXelUPjNLzrJXA7-0</string>
				<key>Buttons</key>
				<string>https://www.figma.com/file/XCVmmh5i8LY4WMg72mcLLX/Verity-new-UI---all-pages?type=design&amp;node-id=206-11686&amp;mode=design&amp;t=swdPj3v8zVZ09riR-0</string>
				<key>No image icons</key>
				<string>https://www.figma.com/file/XCVmmh5i8LY4WMg72mcLLX/Verity-new-UI---all-pages?type=design&amp;node-id=1-5673&amp;mode=design&amp;t=deEuuiw58J2vp0cv-0</string>
				<key>New designs</key>
				<string>https://www.figma.com/file/XCVmmh5i8LY4WMg72mcLLX/Verity-new-UI---all-pages?type=design&amp;node-id=1072-19500&amp;mode=design</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
