<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MainFeed UI</key>
	<dict>
		<key>Click en stance icons</key>
		<string>Mostrar popup con la info respectiva</string>
		<key>Limpieza de codigo</key>
		<string>Diferentes features (dataProvider, list, clicks &amp; protocols)</string>
		<key>Click on &quot;Show more&quot;</key>
		<string>Cargar la siguiente pantalla para el topic especificado</string>
		<key>Breadcrumbs</key>
		<string>Sencillo: Sólo muestra el topic anterior y ejecuta un Back</string>
	</dict>
	<key>Menu UI</key>
	<dict>
		<key>Diseño</key>
		<string>https://www.figma.com/file/2trQtjl1kAFZOspiVF3RNp/Card%2C-Feed-%26-Navigation?node-id=1260%3A56888</string>
		<key>Añadir iconos</key>
		<string></string>
		<key>Revisar tipografias/diseño</key>
		<string></string>
	</dict>
	<key>misc</key>
	<dict>
		<key>normalizar fuentes</key>
		<string>utilizar funcion generica para obtener FONTs</string>
		<key>Bajar el minimo iOS</key>
		<string>La version minima donde la app deberia correr es iOS 13</string>
	</dict>
</dict>
</plist>
