<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MainFeed UI</key>
	<dict>
		<key>Click en stance icons</key>
		<string>Mostrar popup con la info respectiva</string>
		<key>Limpieza de codigo</key>
		<string>Diferentes features (dataProvider, list, clicks &amp; protocols)</string>
	</dict>
	<key>misc</key>
	<dict>
		<key>normalizar fuentes</key>
		<string>utilizar funcion generica para obtener FONTs</string>
	</dict>
</dict>
</plist>
